@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: black !important;
  color: white !important;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  text-align: center;
  padding: 40px;
}
.ansi-editor {
  margin-top: 20px;
  width: 100%;
  min-height: 8cm;
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #333;
  padding: 10px;
  outline: none;
  white-space: pre-wrap;
  font-family: monospace;
  font-size: 0.9rem;
  line-height: 1.5;
  border-radius: 4px;
}
@media (max-width: 768px) {
  .main {
    padding: 20px;
  }
  .ansi-editor {
    font-size: 0.8rem;
  }
}
.ansi-0{ color: #fff !important; font-weight: 400 !important; text-decoration: none !important;background-color: #000 !important; }
.ansi-1 { font-weight: 700 !important; }
.ansi-4 { text-decoration: underline !important; }

.ansi-30 { color: #4f545c !important; }
.ansi-31 { color: #dc322f !important; }
.ansi-32 { color: #859900 !important; }
.ansi-33 { color: #b58900 !important; }
.ansi-34 { color: #268bd2 !important; }
.ansi-35 { color: #d33682 !important; }
.ansi-36 { color: #2aa198 !important; }
.ansi-37 { color: #ffffff !important; }

.ansi-40 { background-color: #002b36 !important; }
.ansi-41 { background-color: #cb4b16 !important; }
.ansi-42 { background-color: #586e75 !important; }
.ansi-43 { background-color: #657b83 !important; }
.ansi-44 { background-color: #839496 !important; }
.ansi-45 { background-color: #6c71c4 !important; }
.ansi-46 { background-color: #93a1a1 !important; }
.ansi-47 { background-color: #fdf6e3 !important; }


.fg-swatch {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #555 !important;
}

.fg-swatch-30 { background-color: #4f545c; }
.fg-swatch-31 { background-color: #dc322f; }
.fg-swatch-32 { background-color: #859900; }
.fg-swatch-33 { background-color: #b58900; }
.fg-swatch-34 { background-color: #268bd2; }
.fg-swatch-35 { background-color: #d33682; }
.fg-swatch-36 { background-color: #2aa198; }
.fg-swatch-37 { background-color: #ffffff; }

.bg-swatch-40 { background-color: #002b36; }
.bg-swatch-41 { background-color: #cb4b16; }
.bg-swatch-42 { background-color: #586e75; }
.bg-swatch-43 { background-color: #657b83; }
.bg-swatch-44 { background-color: #839496; }
.bg-swatch-45 { background-color: #6c71c4; }
.bg-swatch-46 { background-color: #93a1a1; }
.bg-swatch-47 { background-color: #fdf6e3; }